body{
     box-sizing: border-box;
     margin: 0;
     text-align: center;
}

#gridContainer{

    height: 320px;
    width: 320px;
    /* background-color: lightcoral; */
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    gap: 0px 0px;
    margin-left: 39%;
  

}

.gridItem{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}