#bg-img{
   
    position:absolute;
    top:0;
    bottom: 0;
    width: 60%;
    height: 60%;
   margin:150px 300px;
    
}


h1{
    position: absolute;
    top:40%;
    left:47%;
    
    font-size: 66px;
    color:blueviolet;
}